<div class="card" *ngIf="customer">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item">{{ customer.firstName }}</li>
            <li class="list-group-item">{{ customer.lastName }}</li>
            <li class="list-group-item">{{ customer.email }}</li>
            <li class="list-group-item">
              {{ customer.birthDate | date : "fullDate" }}
            </li>
            <li class="list-group-item">
              {{ customer.createDate | date : "yyyy-MM-dd HH:mm:ss" }}
            </li>
            <li class="list-group-item" *ngIf="customer.region">{{ customer.region.name }}</li>
          </ul>
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
              aria-label="Upload" (change)="selectPhoto($event)" />
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
              [disabled]="!photoSelected" (click)="uploadPhoto()">
              Button
            </button>
          </div>
          <div *ngIf="progress > 0" class="progress" role="progressbar" aria-label="Default striped example"
            attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped" [ngStyle]="{ width: progress + '%' }">
              {{ progress }}%
            </div>
          </div>
        </div>
        <div class="col">
          <img *ngIf="customer.photo" src="http://localhost:8080/api/v1/customers/upload/img/{{
              customer.photo
            }}" alt="{{ customer.photo }}" class="img-thumbnail rounded" />
        </div>
      </div>
      <div class="row">
        <button type="button" [routerLink]="['/invoices/form', customer.id]" class="btn btn-success">
          Add Invoice
        </button>
      </div>
      <div class="row">
        <div class="alert alert-info my-4" *ngIf="customer.invoices.length == 0">
          {{ customer.firstName }} {{ customer.lastName }} has no assigned
          invoices
        </div>
        <table class="table table-bordered table-striped my-4" *ngIf="customer.invoices.length != 0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Date</th>
              <th>Total</th>
              <th>Detail</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of customer.invoices">
              <td>{{ invoice.id }}</td>
              <td>{{ invoice.description }}</td>
              <td>{{ invoice.createDate | date : "yyyy-MM-dd HH:mm:ss" }}</td>
              <td>{{ invoice.total }}</td>
              <td>
                <button type="button" [routerLink]="['/invoices/detail', invoice.id]" class="btn btn-primary">
                  Detail
                </button>
              </td>
              <td>
                <button type="button" (click)="delete(invoice)" class="btn btn-danger">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>