<ul class="alert alert-danger" *ngIf="errors.length > 0">
  <li *ngFor="let error of errors">
    {{ error }}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form #customerForm="ngForm">
      <div class="form-group">
        <label for="firstName" class="col-form-label col-sm-2">First Name</label>
        <div class="col-sm-6">
          <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="customer.firstName">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-form-label col-sm-2">Last Name</label>
        <div class="col-sm-6">
          <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="customer.lastName">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" id="email" name="email" class="form-control" [(ngModel)]="customer.email">
        </div>
      </div>
      <div class="form-group">
        <label for="birthDate" class="col-form-label col-sm-2">Birth Date</label>
        <div class="col-sm-6">
          <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="customer.birthDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary" (click)="create()" *ngIf="!customer.id else elseBlock">Save
          </button>
          <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary" (click)="update()">Save
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
